<!--  
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    
    <div class="position-sticky pt-3">
        
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                    <span data-feather="home"></span>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    Transaction Details
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    Transaction issues
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Transaction success
                    
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Users
                </a>
            </li>
        </ul>
    </div>
</nav>


 


 -->
<!-- <div>Hello</div>
<div>
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" class="side">
        <h1 style="font-weight:normal">Left Sidebar</h1>
        <p-button type="button" (click)="visibleSidebar1 = false" label="Save" styleClass="p-button-success"></p-button>
        <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel" styleClass="p-button-secondary">
        </p-button>
    </p-sidebar>
</div> -->

<div class="main">
    <div class="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Phone</a></li>
            <li><a href="#">Laptop</a></li>
            <li><a href="#">Cpu</a></li>
            <li><a href="#">Selenium</a></li>
        </ul>
    </div>

</div>