<!-- <div class="footer">
    <div class="container">
     <div class="row">
         <div class="col-lg-3 col-md-6">
          <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
         </div>
         <div class="col-lg-3 col-md-6">
          <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
  
      </div>
      <div class="col-lg-3 col-md-6">
          <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
      </div>
      <div class="col-lg-3 col-md-6">
          <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
      </div>
  
     </div>
    </div>
  </div>
   -->
<footer>
  <div class="row">
    <div class="col">
      <img src="assets/Socialmedia/tech.jpg" alt="" class="logo">
      <p>This is the lerning part website creation</p>
    </div>
    <div class="col">
      <h3>office <div class="underline"><span></span></div></h3>
      <p>Techwave</p>
      <p>Hitech City</p>
      <p>Hyderabad,pin 500070</p>
      <p class="email-id">adinarayana@gmail.com</p>
      <h4>+91 -0123456787</h4>
    </div>
    <div class="col">
      <h3>Links <div class="underline"><span></span></div></h3>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Services</a>
      </li>
      <li>
        <a href="">About Us</a>
      </li>
      <li>
        <a href="">Features</a>
      </li>
      <li>
        <a href="">Contacts</a>
      </li>
    </div>
    <div class="col">
      <h3>Newsletter <div class="underline"><span></span></div></h3>
      <form>
        <input type="email" placeholder="Eneter you email id" required>
      </form>
      <div class="social-media">
        <img class="media" src="assets/Socialmedia/fb.jpg" alt="">
        <img class="media" src="assets/Socialmedia/twitter.jpg" alt="">

        <img class="media" src="assets/Socialmedia/insta.jpg" alt="">

      </div>
    </div>
  </div>
  <hr>
  <p class="copyright">This Traing @2021 -All Rights Reserved</p>
</footer>