.p-card{
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 8px 8px -4px lightblue;
    font-size : 18px;
    font-family : aria label;
    background: #e9a8a8;
     padding: 30px;
     height: 100px;
}